@font-face {
  font-family: "HankenGrotes";
  src: url(HankenGrotesk-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "HankenGrotes";
}

.mainContainer {
  box-shadow: 10px 15px 15px hsl(221, 100%, 96%);
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0px 0px 25px 25px;
  color: hsl(221, 100%, 96%);
}
.resultContainer h1 {
  font-size: 1rem;
  color: hsl(241, 100%, 89%);
  opacity: 0.9;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.resultContainer .scoreContainer {
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultContainer .scoreContainer h1 {
  font-size: 3rem;
  margin: 0;
  color: white;
}
.resultContainer .scoreContainer p {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
  opacity: 0.5;
}
.resultContainer h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.resultContainer .scoreText {
  font-size: 0.9rem;
  margin: 0 4.5rem 2rem 4.5rem;
  color: hsl(241, 100%, 89%);
  opacity: 0.9;
  font-weight: 500;
}

.summaryContainer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.summaryContainer h1 {
  font-size: 1rem;
  color: hsl(224, 30%, 27%);
  opacity: 0.9;
}
.summaryContainer .itemContainer {
  height: 3rem;
  background: hsl(220, 16%, 96%);
  border-radius: 8px;
  margin-top: 1.5rem;
  display: block;
  align-items: center;
  color: hsla(222, 5%, 44%, 0.774);
}
.summaryContainer button {
  background: hsl(224, 30%, 27%);
  border: none;
  color: white;
  height: 3rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2rem;
}
.summaryContainer button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.itemContainer svg {
  margin-top: 0.8rem;
  margin-left: 0.9rem;
  float: left;
}

.Reaction {
  color: hsl(0, 100%, 67%);
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.Memory {
  color: hsl(39, 100%, 56%);
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.Verbal {
  color: hsl(166, 100%, 37%);
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.Visual {
  color: hsl(234, 85%, 45%);
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.value {
  color: hsl(224, 30%, 27%);
  font-weight: 500;
  margin-left: 2rem;
  float: right;
  margin-right: 4rem;
  margin-top: 0.8rem;
}

.value2 {
  float: right;
  margin-right: -6rem;
  margin-top: 0.8rem;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mainContainer {
    display: flex;
    width: 60%;
    margin-top: 10rem;
    margin-bottom: 5rem;
    border-radius: 25px;
    min-width: 800px;
  }
  .resultContainer {
    border-radius: 25px;
    width: 46%;
  }
  .resultContainer .scoreContainer {
    height: 10rem;
    width: 10rem;
  }
  .resultContainer h1 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .resultContainer h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .summaryContainer {
    width: 45%;
  }
}/*# sourceMappingURL=styles.css.map */